# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/CollectionAdministration_WPF/CollectionAdministration_WPF/bin/*
/CollectionAdministration_WPF/CollectionAdministration_WPF/obj/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
/.vs/CollectionAdministration/v15/.suo
/CollectionAdministration_WPF/.vs/CollectionAdministration_WPF/v15/Server/sqlite3/storage.ide-wal
/CollectionAdministration_WPF/.vs/CollectionAdministration_WPF/v15/Server/sqlite3/storage.ide-shm
/CollectionAdministration_WPF/.vs/CollectionAdministration_WPF/v15/Server/sqlite3/storage.ide
/CollectionAdministration_WPF/.vs/CollectionAdministration_WPF/v15/Server/sqlite3/db.lock
/CollectionAdministration_WPF/.vs/CollectionAdministration_WPF/v15/.suo
/.vs/slnx.sqlite
/.vs/CollectionAdministration_WPF/v15/.suo
/.vs/VSWorkspaceState.json
/CollectionAdministration_WPF/packages/
